* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #ff523b;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 0 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 10px 4px 20px #24262b;
  z-index: 1009;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 600;
}

.navbar nav {
  flex: 1;
  text-align: center;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar .right-icons {
  display: flex;
  justify-content: space-between;
}

.navbar .right-icons a {
  margin-left: 30px;
  font-size: 20px;
  color: #333;
}

.navbar .right-icons a:hover {
  color: #ff523b;
}

/* ===== Search Bar ===== */
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 50px;
  border: 2px solid #ccc;
  background: #fff;
  width: 250px;
}

.search-bar input[type="text"] {
  flex: 1;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  outline: none;
  border-radius: 50px;
  width: 100%;
}

.search-bar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.search-bar button i {
  font-size: 18px;
  color: #555;
}


#inneritems {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
  list-style: none;
}

#inneritems li {
  margin: 5px 0;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
  padding-top: 120px;
}

.header .row {
  margin-top: 50px;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #dadada;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 25px;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-4 {
  flex-basis: 22%;
  min-width: 200px;
  margin-bottom: 40px;
  text-align: center;
}

.col-4 img {
  width: 100%;
}

.col-4:hover {
  transform: translateY(-5px);
}

.offer {
  background: radial-gradient(#fff, #cc7979);
  margin-top: 80px;
  padding: 30px 0;
}

.offer-img {
  max-width: 100%;
  padding: 50px;
}

.col-2 small {
  color: #555;
}

.testimonial {
  padding: 100px 0;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s;
}

.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.footer {
  background-color: #24262b;
  width: 100%;
  padding: 40px 0;
  color: white;
}

.container-f {
  max-width: 1170px;
  margin: auto;
}

.row-f {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  color: #bbbbbb;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

.footer .copyright {
  text-align: center;
  padding: 20px 0 0;
  color: #bbb;
  font-size: 14px;
}